
svg.clock {
  display: block;
  margin: 0 auto;

  circle {
    stroke: black;
    fill: #eee;
  }

  .hour {
    stroke-width: 6px;
    stroke: green;
  }

  .minute {
    stroke-width: 4px;
    stroke: blue;
  }

  .second {
    stroke-width: 2px;
    stroke: red;
  }

  .tick {
    stroke-width: 3px;
    stroke: black;
  }

}

.footer {

  text-align: center;
  font-weight: bold;

  h2 {
    font-size: 42px;
    margin-bottom: 1px;
  }

  .setlang {
    width: 111px!important;
    margin-left: 12px;
    margin-right: 12px;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

}